name: Docker Image CI

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"

permissions:
  contents: read

env:
  DOCKER_IMAGE_NAME: geo-guardian

jobs:
  build-linux:
  
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
            
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get the tag name
        id: get_version
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          else
            echo "VERSION=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          fi

      - name: Set build metadata
        id: build_meta
        run: echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT

      - name: Build and push Docker image (Linux)
        uses: docker/build-push-action@v6
        with:
          context: ./app
          file: ./app/Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8,linux/riscv64,linux/ppc64le,linux/s390x
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          build-args: |
            VERSION=${{ steps.get_version.outputs.VERSION }}
            BUILD_DATE=${{ steps.build_meta.outputs.BUILD_DATE }}
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:${{ steps.get_version.outputs.VERSION }}
            ${{ vars.DOCKERHUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:latest
